<div class="container">
  <%= render 'shared/crossing_info', crossing: @crossing %>
  <div>
    <%= link_to '投稿', new_crossing_post_path(@crossing.crossing_id), class: 'btn btn-warning' %>
  </div>
  <%# 投稿一覧 %>
  <%= render 'shared/post', posts: @posts %>
</div>