<% content_for(:title, "#{@crossing.latitude}/#{@crossing.longitude}") %>
<div class="container">
  <div class="pt-5">
    <%= render 'shared/crossing_info', crossing: @crossing %>
  </div>
  <div class="d-flex justify-content-center mb-5">
    <%= link_to 'このフミキリについて投稿する', new_crossing_post_path(@crossing.crossing_id), class: 'btn btn-warning rounded-pill shadow px-4' %>
  </div>
  <h3>このフミキリの投稿</h3>
  <%= render 'shared/post', posts: @posts %>
</div>