<% content_for(:title, t('.title')) %>
<%= render 'shared/breadcrumbs' %>
<div class="container pt-5">
  <h2 class="mb-4">My投稿</h2>
  <div class="row">
    <%= render 'shared/account_page_side' %>
    <div class="main-area col-sm-12 col-md-8 col-lg-9">
      <%= render 'shared/post', posts: @posts %>
    </div>
  </div>
</div>