<%= link_to crossing_favorite_path(current_user.crossing_favorites.find_by(crossing_id: crossing.crossing_id)), id: "unfavorite-button-for-crossing-#{crossing.crossing_id}", data: { turbo_method: :delete } do %>
  <p class="btn btn-outline-primary rounded-pill shadow px-4">お気に入り解除</p>
<% end %>