<%= link_to crossing_favorites_path(crossing_id: crossing.crossing_id), id: "favorite-button-for-crossing-#{crossing.crossing_id}", data: { turbo_method: :post } do %>
  <p class="btn btn-outline-primary btn-sm">お気に入り登録</p>
<% end%>