<header>
  <nav class='navbar navigation navbar-light fixed-top'>
    <div class="container-fluid">
      <div class="navbar-brand"></div>
      <div class='navbar-collapse'>
        <ul class='navbar-nav d-flex flex-row justify-content-end align-items-center gap-2'>
          <li class='nav-item'>
            <%= link_to posts_path, class: 'btn btn-warning rounded-pill shadow d-flex align-items-center gap-2', role: 'button' do %>
              <i class="bi bi-file-post"></i>
              <p class="mb-0">投稿一覧</p>
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to login_path, class: "btn btn-warning rounded-pill shadow d-flex align-items-center gap-2" do %>
              <i class="bi bi-box-arrow-in-right"></i>
              <p class="mb-0">ログイン</p>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>