<header>
  <nav class='navbar navbar-expand-lg navigation bg-white navbar-light fixed-top'>
    <div class="container-fluid">
      <%= link_to '/', class: 'navbar-brand' do %>
        <%= image_tag '仮logo.png' %>
      <% end %>
      <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav ms-auto main-nav align-items-center gap-2'>
          <li class='nav-item'>
            <%= link_to posts_path, class: 'btn btn-warning rounded-pill shadow d-flex align-items-center gap-2', role: 'button' do %>
              <i class="bi bi-file-post"></i>
              <p>投稿一覧</p>
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to login_path, class: "btn btn-warning rounded-pill shadow d-flex align-items-center gap-2" do %>
              <i class="bi bi-box-arrow-in-right"></i>
              <p>ログイン</p>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>