<footer id='footer' class='footer-bottom'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright p-2'>
          <p>Yasuaki Matsunaga portfolio 2024</p>
        </div>
      </div>
    </div>
</footer>