<div class="container">
  <h2 class="mb-5">使い方</h2>
    <div class="how_to_use_1 row mb-5">
      <div class="how_img col-12 col-md-6 px-5">
        <%= image_tag 'how_1.png', class: 'img-fluid' %>
      </div>
      <div class="how_content col-12 col-md-6">
        <h4 class="mb-4">フミキリの検索</h4>
        <h6 class="fw-bold">都道府県</h6>
        <p>都道府県を選択してください</p>
        <p class="mb-4">※ 都道府県のみで検索すると、該当データが多く、読み込みが極端に遅くなります。</p>
        <h6 class="fw-bold">市町村</h6>
        <p class="mb-4">都道府県を選択すると選べるようになります。</p>
        <h6 class="fw-bold">路線名</h6>
        <p>入力した文字によって候補が表示されます</p>
      </div>
    </div>
    <div class="how_to_use_2 row mb-5">
      <div class="how_content col-12 col-md-6">
        <h4 class="mb-4">現在地検索</h4>
        <p>トップページ右下にある「<i class="bi bi-crosshair2"></i>」をクリックすると現在地から半径2km以内の踏切を表示します。</p>
      </div>
      <div class="how_img col-12 col-md-6 px-5">
        <%= image_tag 'how_2.png', class: 'img-fluid' %>
      </div>
    </div>
    <div class="how_to_use_3 row mb-5">
      <div class="how_img col-12 col-md-6 px-5">
        <%= image_tag 'how_3.png', class: 'img-fluid' %>
      </div>
      <div class="how_content col-12 col-md-6">
        <h4 class="mb-4">フミキリマーカー</h4>
        <p>踏切のマーカーをクリックすると詳細ページへのリンクが表示されます。</p>
        <p>踏切について投稿するときは、まずそのフミキリの詳細ページにアクセスしてください</p>
      </div>
    </div>
    <div class="how_to_use_4 row mb-5">
      <div class="how_content col-12 col-md-6">
        <h4 class="mb-4">フミキリ詳細</h4>
        <p>フミキリ詳細ページではフミキリの位置情報やフミキリの名称が表示されます。</p>
        <p class="mb-4">（フミキリの名称は、不明な場合もあります。）</p>
        <p>フミキリの位置情報（緯度軽度）はGoogleマップへのリンクになっています。</p>
      </div>
      <div class="how_img col-12 col-md-6 px-5">
        <%= image_tag 'how_4.png', class: 'img-fluid' %>
      </div>
    </div>

</div>