<p><%= @contact.name%>様</p>

<p>いつもご利用いただき誠に有難うございます。</p>
<p>また、お問合せのメールを頂き誠に有難うございます。</p>

<p>===============================================</p>

<p>【件名】</p>
<p><%= @contact.subject %></p>

<p>【お問合せ内容】</p>
<p><%= @contact.content %></p>

<p>===============================================</p>

<p>頂きましたお問合せ内容につきましては、内容を確認の上早急に対応致します。</p>
<p>お時間少々頂戴できますと幸甚でございます。</p>

<p>また、今後とも当アプリケーションをどうぞよろしくお願い申し上げます。</p>