<% content_for(:title, t('.title')) %>
<%= render 'shared/breadcrumbs' %>
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h2>投稿編集</h2>
      <%= render 'form', post: @post, url: crossing_post_path(@crossing, @post), method: :patch %>
    </div>
  </div>
</div>