<% content_for(:title, t('.title')) %>
<%= render 'shared/breadcrumbs' %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 pb-3">
      <h2>新規投稿</h2>
      <%= render 'form', post: @post, url: crossing_posts_path(@crossing), method: :post %>
    </div>
  </div>
</div>