<div class="container">
  <%= render 'shared/crossing_info', crossing: @crossing %>
  <div class="post-area d-flex justify-content-around">
    <div class="crossing-image">
      <%= image_tag @post.crossing_image.url, width: "500" %>
    </div>
    <div class="post-info">
      <div class="post-title">
        <h3><%= @post.title %></h3>
      </div>
      <div class="post-body">
        <p><%= @post.body %></p>
      </div>
    </div>
  </div>
</div>