//= require leaflet.markercluster
//= require leaflet.markercluster.default
@import "bootstrap";
//=@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
//=@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');

body {
  //=font-family: 'Noto Sans JP', sans-serif !important;
  //=font-family: 'M PLUS Rounded 1c', sans-serif !important;
  font-family: 'M PLUS 1p', sans-serif !important;
}

p {
  margin-bottom: 0 !important;
  font-weight: 100 !important;
}

.container {
  margin-top: 100px;
}

.flash-message {
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 0;
  width: 350px;
  height: 30px;
  margin: 0 auto;
  border: 0;
}

.offcanvas-open {
  margin-top: 100px;
  margin-left: 10px;
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
  --bs-offcanvas-width: 300px;
  background-color: rgba(255, 255, 255, 0.7);
}

.current-location {
  margin-bottom: 120px;
  margin-right: 10px;
}

.railroad-candidate {
  max-height: 300px;
}