// Entry point for your Sass build
//= require leaflet.markercluster
//= require leaflet.markercluster.default
$warning: #F2D431;//#FCE362
$info: #555A79;
$danger: #F5793B;//#E5605A
$light: #fffdf5;
$secondary: #8F919D;
$primary: #51AAC7;

@import "bootstrap/scss/bootstrap";
//@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
//@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');

body {
  //=font-family: 'Noto Sans JP', sans-serif !important;
  //=font-family: 'M PLUS Rounded 1c', sans-serif !important;
  font-family: 'M PLUS 1p', sans-serif !important;
  background-color: $light;
}

h1, h2, h3, h4, h5, h6 {
  color: $info;
}

p, span {
  margin-bottom: 0 !important;
  font-weight: 100 !important;
  color: $info;
}

footer {
  margin-top: 100px;
}

.container {
  margin-top: 150px;
}

.flash-message {
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 0;
  width: 350px;
  height: 30px;
  margin: 0 auto;
  border: 0;
}

.offcanvas-open {
  margin-top: 100px;
  margin-left: 10px;
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
  --bs-offcanvas-width: 300px;
  background-color: rgba(255, 255, 255, 0.7);
}

.current-location {
  margin-bottom: 120px;
  margin-right: 10px;
}

.railroad-candidate {
  max-height: 300px;
}

@media (max-width: 576px) {

  .navbar-nav .btn {
    font-size: 0.75rem !important;
    padding: 0.25rem 0.5rem !important;
  }

  .navbar-nav .btn p {
    font-size: 0.75rem !important;
    margin: 0;
  }

  .navbar-nav .bi {
    font-size: 1rem;
  }
}